# Ignore virtual environment
venv/

# Python cache
*.pyc
__pycache__/

# Logs and environment files
*.log
.env

# postgreSQL database 
db.postgreSQL

# USDA local database files (large files)
usda-database/usda_foods.db
usda-database/usda_data.zip
usda-database/usda_data/